.alert {
  width: 100%;
  margin: 0;
  padding: 1rem;
  font-family: var(--font-sans);
  font-size: 1.6rem;
  color: #222;
  border: 1px solid #222;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
